# APPLICATION
APP_NAME=auth_service
APP_PORT=9001

# DATABASE
DB_HOST=db
DB_PORT=5432
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=auth_service
DB_SSLMODE=disable
DB_DRIVER=postgres

# JWT KEYS
JWT_PRIVATE_KEY_PATH=/app/jwt_private.pem
JWT_PUBLIC_KEY_PATH=/app/jwt_public.pem
